* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    text-align: center;
    font-family: sans-serif;
}

/* navigation */

.header {
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    position: fixed;
}

.nav-container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    padding: 20px;
    float: left;
    line-height: 100px;
    height:100px;
}

.nav {
    float: right;
    line-height: 100px;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    margin-left: 30px;
    display: inline-block;
}

.nav a {
    color: seashell;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav a:hover {
    color: royalblue;
}

/* end navigation */

.main-header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.shop-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: seashell;
    text-align: center;
    font-size: 2.5em;
}

.main-footer {
    background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
}

/* Shop Items */

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: seashell;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    border-image-source: url(https://toppng.com/uploads/preview/wood-texture-background-11554000917wrxw5unto4.jpg);
    border-image-slice: 84 136 77 135;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-style: solid;
    border-width: 7px;
    
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: seashell;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* End shop items */

/* Cart */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: seashell;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: seashell;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: seashell;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-text-input {
    height: 34px;
    width: 200;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-text-label {
    color: seashell;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-row-center {
    padding-left: 10%;
    padding-right: 70%;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: seashell;
    font-size: 1.1em;
}

/* End Cart */

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}