    body{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    }
    .content{
        width: 400px;
        height: 450px;
        background-color: white;
        position: fixed;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);   
        opacity: 100%;
      }

    h1{
        text-align: center;
        font-family: "anurati";
     
    
  }

  img{
      width: 200px;
      height: 150px;
      position: fixed;
      top: 60%;
      left: 25%;
  }