* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    text-align: center;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    position: fixed;
}

.logo {
    padding: 20px;
    float: left;
    line-height: 100px;
    height:100px;
}

nav {
    float: right;
    line-height: 100px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-left: 30px;
    display: inline-block;
}

nav a {
    color: seashell;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

a:hover {
    color: royalblue;
}


h1 {
    padding-top: 8%;
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    font-family: "anurati";
    color: lightgoldenrodyellow;
}

h2 {
    text-align: center;
    font-family: Georgia, Times, serif;
    color: lightgoldenrodyellow;
}

div#myform {
    margin-bottom: 10px;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    padding: 1em;
}

fieldset {
    color: seashell;
    font: 90% sans-serif;
    padding: 1em;
}

.query-position{
    text-align: justify;
    padding-left: 50%;
    padding-right: 50%;
}

label {
    color: seashell;
    float: left;
    width: 25%;
    text-align: right;
    font-weight: bold;
}

#myquery {
    display: none;
    margin-top: 3px;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,87,1) 35%, rgba(255,107,0,1) 100%);
    padding: 1em;
}



